.contact {
    max-width: 788px;
    padding: 0 10px 60px;
    margin: 0 auto;

    text-align: center;
}

/* Title */

.contact__title {
    text-align: center;
}

/* Subtitle */

.contact__subtitle {
    font-weight: 700;
    font-size: 40px;

    margin-top: 25px;
}

/* Text */

.contact__paragraph {
    font-size: 20px;
    line-height: 26px;

    margin-top: 40px;
}

/* Icons */

.contact__icons {
    display: flex;
    justify-content: center;
    gap: 50px;

    margin-top: 30px;
}

/* Icon */

.contact__icon {
    padding: 3px;
    transition: all ease-in .1s;
}

.contact__icon:hover {
    transform: scale(1.2);
}