/* Header */

.header {
    display: flex;

    align-items: center;
    width: 100%;
    max-width: 1328px;
    gap: 30px;

    max-width: 1328px;
    margin: 0 auto;
    padding: 35px 10px;
}

@media (max-width: 768px) {
    .header {
        padding: 25px 10px;
    }
}

/* List */

.header__list {
    flex: 1 1 auto;

    display: flex;
    gap: 50px;
}

/* Item */

.header__item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--c-primary-1);
}

.header__item a {
    color: var(--c-primary-1);
}

.header__item a[href] {
    margin-bottom: -10px;
    padding: 10px;

    background:
        linear-gradient(var(--c-accent-1) 0 0) var(--d, 201%) 100% /200% 3px no-repeat;
    transition: 0.5s;
}

.header__item a[href]:hover {
    --d: -101%;
}

/* Button */

.header__switch {
    display: flex;
    align-items: center;

    width: 25px;
    height: 25px;

    z-index: 100;
}

/* Burger */

@media (max-width: 768px) {
    .header__burger {
        margin-right: auto;
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        background-color: transparent;
        z-index: 100;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        position: absolute;
        left: 0;
        height: 3px;
        background-color: var(--c-primary-1);
        transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1) 0s;
    }

    .header__burger::before {
        top: 0;
        left: 0;
        width: 100%;
    }

    .header__burger::after {
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .header__burger span {
        position: absolute;
        left: 0px;
        bottom: 9px;
        width: 100%;
        height: 3px;
        background-color: var(--c-primary-1);
        transition: all 0.4s ease 0s;
    }

    .header__burger.header--active::before {
        top: 9px;
        transform: rotate(-45deg);
        width: 100%;
    }

    .header__burger.header--active::after {
        bottom: 8px;
        transform: rotate(45deg);
        width: 100%;
    }

    .header__burger.header--active span {
        transform: scale(2);
        opacity: 0;
    }

    .header__list {
        position: fixed;
        left: 0;
        top: -100%;
        overflow-y: auto;

        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 60px;

        padding: 100px 0px 50px;
        transition: top 0.3s ease 0s;
        background-color: var(--c-accent-2);
        z-index: 5;
    }

    .dark .header__list {
        background-color: #2a2929;
    }

    .header__list.header--active {
        top: 0;
    }
}