.home {
    max-width: 1002px;
    margin: 0 auto;
    padding: 40px 10px 60px;
    text-align: center;

    color: var(--c-primary-1);
}

@media (max-width: 768px) {
    .home {
        padding: 20px;
    }
}

/* Avatar */

.home__avatar {
    display: flex;
    justify-content: center;
}

.home__avatar img {
    max-width: 100%;
    border-radius: 50%;
}

/* Greetings */

.home__greetings {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: var(--c-accent-1);

    margin: 30px 0 15px;
}

/* Name */

.home__name {
    font-family: 'Barrio';
    font-weight: 400;
    font-size: 55px;
    line-height: 50px;

    letter-spacing: 0.03em;

    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .home__name {
        font-size: 45px;
    }
}

@media (max-width: 500px) {
    .home__name {
        margin-bottom: 15px;
    }
}

/* Text */

.home__description,
.home__skills {
    font-size: 20px;
    line-height: 26px;
}

@media (max-width: 768px) {
    .home__description,
    .home__skills {
        font-size: 15px;
    }
}

/* Skills */

.home__skills {
    margin-top: 30px;
}

@media (max-width: 768px) {
    .home__description,
    .home__skills {
        margin-top: 15px;
    }
}