.home {
    max-width: 1002px;
    margin: 0 auto;
    padding: 40px 10px 60px;
    text-align: center;
}

/* Avatar */

.home__avatar img {
    width: 300px;
}

/* Greetings */

.home__greetings {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;

    color: #9A3830;

    margin: 30px 0 15px;
}

.home__name {
    font-family: 'Barrio';
    font-weight: 400;
    font-size: 55px;
    line-height: 50px;

    letter-spacing: 0.03em;

    margin-bottom: 30px;
}

.home__description,
.home__skills {
    font-size: 20px;
    line-height: 26px;
}

/* Skills */

.home__skills {
    margin-top: 30px;
}