.page {
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;

    height: 100%;
}

.page__body {
    min-height: 100%;
    display: grid;
    
    border: 15px solid #9A3830;
}

.page__grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
}