.page {
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;

    height: 100%;

    scroll-behavior: smooth;
}

.page {
    --shadow-color: 0deg 0% 64%;
    --shadow-elevation-low:
      0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.43),
      0.3px 0.2px 0.4px -1.6px hsl(var(--shadow-color) / 0.36),
      0.6px 0.6px 0.9px -3.3px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-medium:
      0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.45),
      0.5px 0.4px 0.6px -1.1px hsl(var(--shadow-color) / 0.4),
      1.2px 1.2px 1.7px -2.2px hsl(var(--shadow-color) / 0.34),
      3.2px 3px 4.4px -3.3px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-high:
      0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.42),
      0.7px 0.7px 1px -0.5px hsl(var(--shadow-color) / 0.39),
      1.3px 1.3px 1.8px -0.9px hsl(var(--shadow-color) / 0.37),
      2.4px 2.2px 3.3px -1.4px hsl(var(--shadow-color) / 0.34),
      4.1px 3.8px 5.6px -1.9px hsl(var(--shadow-color) / 0.32),
      6.7px 6.2px 9.2px -2.4px hsl(var(--shadow-color) / 0.29),
      10.5px 9.8px 14.4px -2.8px hsl(var(--shadow-color) / 0.27),
      15.8px 14.7px 21.7px -3.3px hsl(var(--shadow-color) / 0.24);
}

/* Body */

.page__body {
    min-height: 100%;
    display: grid;

    border: 10px solid #9A3830;
}

.page__body.lock {
    overflow-y: hidden;
}

/* Grid */

.page__grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
}