.projects {
    max-width: 1328px;
    padding: 30px 10px 80px;
    margin: 0 auto;
}

/* Grid */

.projects__grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

    margin-top: 40px;
}

/* Item */

.projects__item {
    min-height: 530px;
}

/* Title */

.projects__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: left;

    display: flex;
    align-items: center;
    gap: 25px;

    color: #9A3830;
    position: relative;
}

.projects__title::after{
    content: '';
    display: block;
    background: #666666AB;
    height: 1px; 
    flex: 0 1 350px;
}