.sound {
    height: 24px;
    width: 31px;

    z-index: 100;
}

/* Items animation */

.sound--disable .sound__item {
    opacity: 0;
}

.sound--disable .sound__item--first {
    transition: opacity ease-in-out .1s .1s;
}

.sound--disable .sound__item--second {
    transition: opacity ease-in-out .1s .2s;
}

/* Reverse animation */

.sound__item--first {
    transition: opacity ease-in-out .2s .2s;
}

.sound__item--second {
    transition: opacity ease-in-out .2s .1s;
}