.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    margin-top: 10px;
}

/* Tag */

.tags__item {
    font-weight: 700;
    font-size: 11px;
    color: #fff;

    padding: 4px 10px;
    background: var(--c-accent-1);
    border-radius: 50px;
}