/* Title */

.title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--c-accent-1);
}

/* Line */

.title--line {
    display: flex;
    align-items: center;
    gap: 25px;

    position: relative;
}

.title--line::after {
    content: '';
    display: block;
    background: #666666AB;
    height: 1px;
    flex: 0 1 350px;
}

@media (max-width: 594px) {
    .title::after {
        display: none;
    }
}