/* Variables */

/* Box shadow */

.page {
    --shadow-color: 0deg 0% 64%;
    --shadow-elevation-medium:
        0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.45),
        0.5px 0.4px 0.6px -1.1px hsl(var(--shadow-color) / 0.4),
        1.2px 1.2px 1.7px -2.2px hsl(var(--shadow-color) / 0.34),
        3.2px 3px 4.4px -3.3px hsl(var(--shadow-color) / 0.29);
}

/* Color palette */

.page {
    --c-background: #ffffff;

    --c-primary-1: #000;
    --c-primary-2: #2E2E2E;

    --c-accent-1: #BA3A3A;
    --c-accent-2: #eebab6;
}

.page.dark {
    --c-background: #1e1e1e;

    --c-primary-1: #FFFFFF;
    --c-primary-2: #cdcdcd;

    --c-accent-1: #e87676;
    --c-accent-2: #eebab6;
}