<div class="card">
    <div class="card__img"><img src="assets/image/card/loripsum.png" alt="Loripsum generator"></div>
    <div class="card__content">
        <h3 class="card__title"><a href="https://loripsum-generator.vercel.app/">Lorem Ipsum Generator</a></h3>
        <p class="card__paragraph">Simple fish text generator</p>
        <ul class="tags">
            <li class="tags__item">React</li>
            <li class="tags__item">Css Modules</li>
            <li class="tags__item">Effector</li>
            <li class="tags__item">Feature Sliced</li>
        </ul>
    </div>
</div>