<header class="header">
    <ol class="header__list">
        <li class="header__item"><a href="#home"><span class="red">00.</span> Home</a></li>
        <li class="header__item"><span class="red">01.</span> About</li>
        <li class="header__item"><a href="#projects"><span class="red">02.</span> Projects</a></li>
        <li class="header__item"><a href="#contact"><span class="red">03.</span> Contact</a></li>
    </ol>
    <button class="header__sound"><img height="30px" width="30px" src="assets/image/icons/sound.svg" alt=""></button>
    <button class="header__switch"><img height="25px" width="25px" src="assets/image/icons/switch-theme.svg" alt=""></button>
</header>